<h1>Welcome to Makes & Models</h1>
<h2>A basic Ember.js example app!</h2>
<p>This is the index page. The index route does not have to be defined - it is implicit just like <em>loading</em> and <em>error</em>. The template is located at <strong>templates/index.hbs</strong></p>